<% if user_signed_in? %>
<%# <h1>You're Logged in!</h1> %>
# BLABLABLABLABLA!
<% else %>

<div class="hero-unit">
    <h1>Welcome to One Month Rails!</h1>
    <p>
    	You've found the home page for the
    	<%= link_to "One Month Rails", "http://onemonthrails.com" %> 
    	application
    </p>
	<p> 
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %> 
	</p>
</div>
<% end %>

<%#
# unless user_signed_in? 
# can replace:
# if user_signed_in?
# else
%>